---
layout: default
title: Home
---
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Welcome to the Carnyx & Co. website.</h2>
                    <img class="pull-right col-sm-2" src="img/mouthpiece.gif">
                    <p class="lead">Founded in 1997 Carnyx & Co. is a charitable company which provides a unique interface between musical archaeology and the world of contemporary performance and recording. We have commissioned many new works featuring the reconstructed Deskford Carnyx, documented on seven CDs, three film sound tracks, and live performances and lectures world wide.</p>
                    <p class="lead">Since 2000 Carnyx & Co has also become the parent organisation of a number of exciting ensembles and collaborative projects which continue to generate new work in the fields of contemporary and ancient music, film and theatre. The reconstruction of this iconic Celtic instrument has become the catalyst for a wave of contemporary artistic expression.</p>
                    <p class="lead">As Artistic Director of Carnyx & Co, the future is full of challenge and excitement as our current projects: Trio d’ART, Carnyx Brass, Tam Lin, Red Shift and HeadSpace Ensemble, perform and record new works around the world. My own solo project The Mouthpiece of The Gods continues to reach audiences of all ages and cultural backgrounds, enabling me to tell the story of the fabulous carnyx, and the evolution of the great family of lip reed instruments.</p>
                    <p class="pull-left"><em>John Kenny</em></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <div class="panel panel-default jk">
                <div class="panel-body">
                     <h1>John Kenny</h1>
                     <p>John Kenny is Artistic Director of Carnyx &amp; Co.</p>
                     <p>find out more about <a href="#">John Kenny</a></p>
                </div>
            </div>

        </div>
    </aside>

    <!-- Portfolio -->
    <section id="projects" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Projects</h2>
                    <hr class="small">
                    <div class="row">
                        {% for project in site.projects %}
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="{{ project.url }}">
                                    <img class="img-portfolio img-responsive" src="{{ project.thumbnail }}">
                                    <div class="overlay img-portfolio img-responsive col-md-6"><h1>{{ project.name }}</h1></div>
                                </a>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">More Coming Soon...</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside id="recordings" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Recordings.</h3>

                    <a href="#" class="btn btn-lg btn-light">Sounds</a>
                    <a href="#" class="btn btn-lg btn-dark">Videos</a>
                </div>
                <div class="row">
                {% for cd in site.cds %}
                  <div class="col-sm-6 col-md-3">
                      <a href="{{ cd.title }}" class="thumbnail">
                        <img src="{{ cd.cover }}" alt="{{ cd.title }}">
                    </a>
                  </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </aside>
